* {
  width: 100%;
  box-sizing: border-box;
  padding: auto;
}
body {
  background-color: #3f81fc;
}
html {
  width: 100%;
}
.canvas {
  width: 100px;
  height: 100px;
  background-color: #292929;
}
.sence__block {
  /* background-image: url("../images/block.png") ; */
  /* float: left; */
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  z-index: 90;
  padding: 0px;
  border: 1px solid black;
}
.container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}
.chat {
  background-color: rgba(24, 15, 82, 0.487);
  max-width: 400px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 360px;
  margin-left: 15px;
  margin-top: 10px;
}
.chat textarea {
  border-radius: 10px;
  height: 70px;
  margin-bottom: 10px;
}
.chat__messages {
  color: aliceblue;
  margin-bottom: 10px;
  border: 1px solid aliceblue;
  border-radius: 10px;
  padding: 10px;
}
.chat__messages p {
  padding: 0px 5px;
  font-size: 20px;
}
.chat__sentbtn {
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  float: right;
  color: aliceblue;
  background-color: rgba(24, 15, 82, 0.768);
  border: 1px solid aliceblue;
}
.chat h1 {
  color: aliceblue;
}
.container_game {
  display: flex;
  width: 500px;
  position: absolute;
  left: 950px;
  height: 300px;
  z-index: 100;
  top: 750px;
  background-color: rgba(119, 10, 133, 0.172);
}
.game__block {
  background-color: #2e2e2e;
  width: 60px;
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px white;
  margin: 5px;
  height: 80px;
}
.game__block-round {
  background-image: url("../../src/images/round.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: initial;
  background-size: contain;
}
.game__block-cross {
  background-image: url("../../src/images/krst.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: initial;
  background-size: contain;
}
.game__again {
  width: 80px;
  height: 30px;
}
.interface {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
.interface__taskInfo {
  display: flex;
  flex-direction: row;
}
.interface__description {
  margin-top: 10px;
  height: 70px;
}
