body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 90%;
  /* background-color: rgb(39, 39, 39); */
  /* background: url("../images/game_background_2.png");
     */
  background-image: url("../../src/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.liana {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  z-index: 10;
}
.liana__left {
  left: -210px;
  top: 210px;
  transform: rotate(30deg);
}
.liana__right {
  left: 1390px;
  top: 210px;
  transform: rotate(30deg);
}
.background {
  /* background-image: url("../images/back.jpg"); */
}
.btn_group {
  /* display: flex; */
  flex-direction: column;
  width: auto;
  align-items: baseline;
  max-width: 300px;
  margin-top: 80px;
  margin-left: 30px;
}
.scene {
  position: relative;
  left: 0;
  top: 0;
  width: 1410px;
  height: 1020px;
  box-shadow: 0px 0px 20px #ffffff;
  /* height: 80vh; */
  /* max-width:1280px; */
  /* margin: 80px auto; */
  margin-left: 90px;
  margin-top: 5px;
  background-color: #d3d3d3;
  border-radius: 20px;
  display: block;
  border: 4px solid white;
}
.btn {
  /* float: left;
    position: relative;
    top: 1002px;
    left: 100px; */
  font-size: 0.8vw;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: #40c781;
  box-shadow: 0 -3px #35a76e inset;
  transition: 0.2s;
  /* margin-right: 150px; */
  margin-top: 685px;
  margin-left: 20px;
  /* max-width: 150px; */
  height: 80px;
  border-radius: 70px;
  z-index: 100;
  text-align: center;
}
.btn__step {
  background: #35a76e;
  box-shadow: 0 -3px #35a76e inset;
}
.btn:hover {
  background: #35a76e;
}
/* .btn:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
} */
.sence__block-table {
  z-index: 110 !important;
}
.sence__block:hover {
  box-shadow: 0px 0px 20px white;
}
.block__free {
  box-shadow: 0px 0px 20px #00ff22;
}
.block__free:hover {
  box-shadow: 0px 0px 20px #00ff22;
}
.block__nonFree {
  box-shadow: 0px 0px 20px #f51414;
}
.block__nonFree:hover {
  box-shadow: 0px 0px 20px #f51414;
}
.canvas {
  width: 100%;
  max-width: 1280px;
  height: 90vh;
}
.person {
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  float: left;
}
.person-die {
  display: none;
}
.person-atacked {
  box-shadow: inset 0px 0px 20px #f51414, 0px 0px 20px #f51414;
}
.person:hover {
  box-shadow: inset 0px 0px 5px #dddddd, 0px 0px 10px #dddddd;
}
#block_information {
  width: 200px;
  height: 100px;
  float: left;
  background-color: #333232;
}
#parent_popup {
  background: #3f3f3f;
  height: 100%;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
}
#popup {
  background-color: #272729;
  height: 300px;
  position: fixed;
  top: 100px;
  left: 40%;
  color: #ffffff;
  width: 400px;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}
